/* General styles */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #6a11cb, #2575fc);
}

.container {
    text-align: center;
    background: white;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
    color: #333;
}
.bottom-left-button {
    padding: 10px 20px; /* Padding inside the button */
    font-size: 16px; /* Font size of the button text */
    background-color: #4CAF50; /* Background color of the button */
    color: white; /* Text color of the button */
    border: none; /* No border */
    cursor: pointer; /* Cursor style */
    border-radius: 5px; /* Rounded corners for the button */
}
.button {
    display: inline-block;
    margin: 10px;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #6a11cb;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #2575fc;
}

.bottom-left {
    position: fixed; /* Fixed position to stay at the bottom of the viewport */
    left: 20px; /* Adjust this value to control the horizontal position */
    bottom: 20px; /* Adjust this value to control the vertical position */
    
}

/* Input and select styles */
input, select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input:focus, select:focus {
    border-color: #6a11cb;
    outline: none;
}

/* Additional styles */
form {
    max-width: 400px;
    margin: auto;
}

form input[type="submit"] {
    background-color: #6a11cb;
    color: white;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #2575fc;
}
